@using Abp.Web.Mvc.Extensions
@using LY.PF.Authorization
@using LY.PF.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Chart.HistogramByType;
    ViewBag.Title = L("HistogramByType");
}

   @section Scripts
   {           
        <script src="~/Content/js/highcharts/highcharts.js"></script>

      <script>
          var chart=new Highcharts.Chart({
           
              chart: {
                  renderTo: 'container',
                  type: 'column',
                  zoomType: 'x'
              },
              title: {
                    text: '医院分类统计（折扣后总值-￥千元）'
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                        '框选放大' :
                        '手势放大'
                },
                xAxis: {
                    categories: [
                        '三级甲等',
                        '三级乙等',
                        '二级甲等',
                        '二级以下',
                        '军队医院',
                        '民营医院',
                        '口腔诊所',
                        '其他'
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '折扣后总值 (千元)'
                    }
                },
                tooltip: {
                    headerFormat: '<span>{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} 千元</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0,
                        stacking: 'normal'
                    }
                },
                series: [{
                    name: '30天',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                    stack: 'male'
                }, {
                    name: '60天',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3],
                    stack: 'male'
                }, {
                    name: '90天',
                    data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2],
                    stack: 'male'
                }, {
                    name: '本年其他',
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1],
                    stack: 'male'
                }, {
                    name: '本年已结',
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1],
                    stack: 'male'
                }]
            });
     

        $('#GetButton').click(function (e) {
            var keyValue = $("#keyValue").val();
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Mpa/Highcharts/GetHospitalData",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    data.forEach(function (_, i) { chart.series[i].setData(data[i].data) })
                }, error: function (e) {
                }
            });
        });

        var keyValue = $("#keyValue").val();

        $.ajax({
            type: "GET",
            url: "/Mpa/Highcharts/GetHospitalData",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                chart.xAxis[0].setCategories(data.xname);
                var sdata = data.saledata;
                sdata.forEach(function (_, i) { chart.series[i].setData(sdata[i].data) })
            }, error: function (e) {
            }
        });

</script> 
        
   }
<div class="input-group">
    <input id="keyValue" class="form-control" placeholder="请输入年份" type="text">
    <span class="input-group-btn">
        <button id="GetButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
    </span>
</div>

    <div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>


